<div class="flex flex-col items-start min-h-screen">
  <textarea type="email" placeholder="email..." rows="1" cols="50" id="log-in-user-email" class="placeholder:italic placeholder:text-sky-400 bg-zinc-900 px-3 py-2 rounded-md text-xl font-thin focus:outline-none tracking-wider caret-sky-400 text-white"></textarea>
  <input type="password" rows="1" cols="50"placeholder="password..." id="log-in-user-password" class="placeholder:italic placeholder:text-sky-400 bg-zinc-900 px-3 py-2 rounded-md text-xl font-thin focus:outline-none tracking-wider caret-sky-400 text-white">
  <button id="log-in-user-button" class=" text-white bg-zinc-900 hover:text-sky-400 hover:outline-1 hover:outline hover:outline-sky-400 px-3 py-2 whitespace-nowrap rounded-md text-xl tracking-wide font-bold">Log In ></button>
</div>
<script src="public/js/logIn.js"></script> 