<div class="flex flex-col items-start min-h-screen">
  <h4 class =  'bg-zinc-900 text-sky-400 group-hover:text-white font-light text-sm italic px-3 pt-2'>commented by {{username}}</h3>
  <textarea placeholder="comment..." name="" id="create-comment-body" cols="50" rows="10" class="placeholder:italic placeholder:text-sky-400 bg-zinc-900 px-3 py-2 rounded-md text-xl font-thin focus:outline-none tracking-wide caret-sky-400 text-white w-full"></textarea>
  <button id="create-comment-button" class=" text-white bg-zinc-900 hhover:text-sky-400 hover:outline-1 hover:outline hover:outline-sky-400 px-3 py-2 whitespace-nowrap rounded-md text-xl tracking-wide font-bold">Create ></button>
</div>
<script src="../public/js/postComment.js"></script>