<div class="flex flex-col items-start min-h-screen">
  <textarea type="text" placeholder="title..." rows="1" cols="50" id="create-post-title" class="placeholder:italic placeholder:text-sky-400 bg-zinc-900 px-3 py-2 rounded-md text-xl font-thin focus:outline-none tracking-wider caret-sky-400 text-white"></textarea>
  <h4 class =  'bg-zinc-900 text-sky-400 group-hover:text-white font-light text-sm italic px-3 pt-2'>posted by {{username}}</h3>
  <textarea placeholder="post..." name="" id="create-post-body" cols="50" rows="1" class="resize-none placeholder:italic placeholder:text-sky-400 bg-zinc-900 px-3 py-2 rounded-md text-xl font-thin focus:outline-none tracking-wide caret-sky-400 text-white w-full"></textarea>
  <button id="create-post-button" data-UserId="{{id}}" class=" text-white bg-zinc-900 hover:text-sky-400 hover:outline-1 hover:outline hover:outline-sky-400 px-3 py-2 whitespace-nowrap rounded-md text-xl tracking-wide font-bold">Post ></button>
</div>
<script src="../public/js/postPost.js"></script>