<div class="max-w-prose items-center justify-between min-h-screen">
        <div class="border-l border-sky-800 hover:border-l hover:border-sky-400"> 
            {{> postCard}}
        </div>
</div>
