 <div class="flex flex-col items-start min-h-screen">
    <input type="text" placeholder="{{username}}" id="update-user-username" class="placeholder:italic placeholder:text-sky-400 bg-zinc-900 px-3 py-2 rounded-md text-xl font-thin focus:outline-none tracking-wider caret-sky-400 text-white" />
    <input type="email" placeholder="{{email}}" id="update-user-email" class="placeholder:italic placeholder:text-sky-400 bg-zinc-900 px-3 py-2 rounded-md text-xl font-thin focus:outline-none tracking-wider caret-sky-400 text-white" />
    <input type="password" placeholder="password..." id="update-user-password" class="placeholder:italic placeholder:text-sky-400 bg-zinc-900 px-3 py-2 rounded-md text-xl font-thin focus:outline-none tracking-wider caret-sky-400 text-white" />
    <div>
        <button id="update-user-password" class=" text-white bg-zinc-900  hover:text-sky-400 hover:outline-1 hover:outline hover:outline-sky-400 px-3 py-2 whitespace-nowrap rounded-md text-xl tracking-wide font-bold">Update Password ></button>
        <button id="update-user-button" class=" text-white bg-zinc-900  hover:text-sky-400 hover:outline-1 hover:outline hover:outline-sky-400 px-3 py-2 whitespace-nowrap rounded-md text-xl tracking-wide font-bold">Update ></button>
    </div>
</div>
<script src="../public/js/updateUser.js"></script>